.event{
    width: 350px;
    height: 300px;
    display: block;
    border: 3px;
    border-style: double;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.createEvent{
    width: 350px;
    min-height: 600px;
    display: block;
    border: 3px;
    border-style: double;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    float: left;
    margin-left: 30px;
}

.eventsList{
    width: 900px;
    float: right;
}

ul{
    list-style-type: none;
}

select{
    width: 320px;
}

.scrollbox {
  height:100px;
  overflow-y:scroll;
}

.listAttendants{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    z-index: 1;
}

.listAttendants li{
    display: block;
    text-decoration: none;
    color: black;
}

.attendants{
    position: relative;
    display: inline-block;
    min-width: 160px;
}

.attendants:hover .listAttendants{
    display: block;
}

.attendants:hover .attendantsShowing{
    background-color: antiquewhite;
}

.attendantsShowing{
    background: snow;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    
}