.event{
    width: 350px;
    height: 300px;
    display: block;
    border: 3px;
    border-style: double;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.createEvent{
    width: 350px;
    min-height: 600px;
    display: block;
    border: 3px;
    border-style: double;
    word-break: break-all;
    padding: 10px;
    margin: 10px;
    float: left;
    margin-left: 30px;
}

.eventsList{
    width: 900px;
    float: right;
}

ul{
    list-style-type: none;
}

select{
    width: 320px;
}

.scrollbox {
  height:100px;
  overflow-y:scroll;
}

.listAttendants{
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 130px;
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: center;
}

.listAttendants li{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

.attendants{
    position: relative;
    display: inline-block;
    min-width: 130px;
    padding: 0;
    margin: 0;
}

.attendants:hover .listAttendants{
    display: block;
}

.attendants:hover .attendantsShowing{
    background-color: lightblue;
    font-size: 18px;
    padding: 7px 33px;
}

.attendantsShowing{
    background: lightcyan;
    padding: 5px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    
}

.listInterests{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}

.listInterests li:hover{
    display: block;
    background-color: antiquewhite;
    cursor: pointer;
}

.joinbutton{
    display: inline;
    font-size: 16px;
    background-color:lightcyan;
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
}

.joinbutton:hover{
    background-color:lightblue;
    font-size: 18px;
    padding: 7px 33px;
}