.food,.location,.eatingplace{
    float: left;
    display: block;
    width: 30%;
    padding: 30px;
    margin: 10px;
    border-style: double;
}
.parent{
    text-align: center;
    align-content: center;
    
}
ul{
    list-style-type: none;
}

.option{
    float: right;
}
